.App {
  margin: 10px;
}

.main{
  display: flex;
}

.header {
  text-align: center; 
}

.listBlock {
  display: inline-block;
  width: 40%;
}

.listBlock ul {
  padding-left: 0px;
  list-style-type: none;
  height: 600px;
  overflow: auto;
}

.listBlock p {
  margin: 0;
}

.appInput{
  width: 80%;
}

.locationItem{
  font-size: 12px;
  padding: 5px;
  cursor: move;
}

.delete-icon {
  font-weight: 600;
  cursor: pointer;
  margin-left: 10px;
  color: red;
}

.delete-icon:hover {
  color: blue
}

.errorMessage {
  width: 80%;
  color: red;
  font-size: 10px;
  padding-top: 5px;
  padding-left: 2px;
}

.infoWindowText {
  font-size: 12px;
}